<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Forgot Password</h1>
    <form id="forgotPassword"  >
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      <button type="submit">Submit</button>
    </form>
    <script>
        $(document).ready(function() {
            $('#forgotPassword').on('submit', function(event) {
                event.preventDefault(); // Prevent default form submission behavior
    
                var email = $('#email').val();
                
    
                var userData = {
                    email: email}
    console.log(userData);
                // Send the data to the server
                fetch('/org/forgotPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(userData)
                })
                .then(response => {
                    if (response.ok) {
                      console.log(userData);
                        // If login is successful, redirect to dashboard
                      res.send('successful!!')
                    } else {
                        // If there's an error, display an error message to the user
                        throw new Error('failed!');
                    }
                })
                .catch(error => {
                    console.error('Login Error:', error);
                    // Handle error here, e.g., display an error message to the user
                });
            });
        });
    </script>

  </body>
</html>