<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <h4 class="postData" style="text-align:center;"></h4>
    <div class="main-agileits">
        <h2 class="sub-head">Reset Password</h2>
        <div class="sub-main">
            <form id="resetPasswordForm">
                <span class="sendData"></span><br><br>
                <input type="text" name="token" value="<%= token %>">
                <input placeholder="New Password" name="password" id="password" class="password" type="password" required=""><br><br>
                <input placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" class="confirmPassword" type="password" required=""><br><br>
                <input type="submit" value="RESET PASSWORD">
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#resetPasswordForm').on('submit', function(event) {
                event.preventDefault(); // Prevent default form submission behavior
        
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();
        
                if (password !== confirmPassword) {
                    // If passwords don't match, display an error message
                    $(".sendData").html("Passwords did not match");
                    return;
                }
        
                // If passwords match, proceed with resetting the password
                var token = $('input[name="token"]').val(); // Assuming you have a token field
                console.log('resetting in process');
        
                // Prepare the data to be sent
                var userData = {
                    token: token,
                    password: password
                };
        console.log(userData)
       
                // Send the data to the server using Fetch
                fetch(`/org/resetPassword/${token}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(userData)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error resetting password");
                    }
                    return response.json(); // Parse response body as JSON
                })
                .then(data => {
                    $(".sendData").html(data.message); // Display success or error message
                    if (data.status === "success") {
                        $(".main-agileits").css("display", "none"); // Hide the form if reset is successful
                    }
                })
                .catch(error => {
                    console.error("Error sending Fetch request:", error);
                    $(".sendData").html("Error resetting password"); // Display error message
                });
            });
        });
        </script>
        
</body>
</html>
